﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - Кошки и Люди</title>
  <!--
  Чтобы собрать аналитику использования вашего приложения пользователями,
  вставьте следующий сценарий на каждую страницу, которую вы хотите отслеживать.
  Поместите этот код перед закрывающим тегом </head>
  и другими сценариями. Первые данные
  появятся автоматически через несколько секунд.
  -->
  <script type="text/javascript">
    var appInsights = window.appInsights || function (config) {
      function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
    }({
      instrumentationKey: "2ebb8863-cf4a-483f-b8b1-7a26e01f077d"
    });

    window.appInsights = appInsights;
    appInsights.trackPageView();
  </script>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")

</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">
          <img src="~/favicon.ico" width="32" height= "32" \>
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-text">
          <li>@Html.ActionLink("Миссия", "About", "Home")</li>
          <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
        </ul>
        @Html.Partial("_LoginPartial")
      </div>
    </div>
  </nav>
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; @DateTime.Now.Year - Cats and People</p>
    </footer>
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
