﻿@{
    ViewBag.Title = "Миссия";
}
<h2>@ViewBag.Title.</h2>

<p>Мы хотим предоставить заводчикам кошек и тем, кто нуждается в домашнем любимце, удобную площадку для взаимодействия. Все предложения котят на сайте тщательно модерируются. Если вы столкнетесь с несправедливостью на нашем портале, не стесняйтесь написать нам об этом.</p>
