﻿@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    Мы находимся в Москве.
</address>

<address>
    <strong>Обращайтесь:</strong>   <a href="mailto:catsearchportal@gmail.com">catsearchportal@gmail.com</a><br />
</address>