﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Кошки и Люди</h1>
    <p class="lead">Вы находитесь на портале Кошек и Людей.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Если вы заводчик</h2>
        <p>
            Вы можете зарегистрировать на портале свой питомник и предложить котят.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Если вы ищете котёнка</h2>
        <p>Ознакомьтесь с текущими предложениями котят, задайте вопросы заводчикам или почитайте справочную информацию на сайте.</p>
    </div>
    <div class="col-md-4">
        <h2>Если вы зашли сюда случайно</h2>
        <p>Проведите время с пользой: почитайте описания кошачьих пород, посмотрите фото кошек и котят, поднимите себе настроение!</p>
    </div>
</div>